.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 120%;
  background-color: lightgray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
  text-align: center;
}
