<div class="container home">
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <p class="text-center"><strong>application was developed for participate the Challenge Avanade, i'm is learning a
        develop with framework front-end Angular.</strong></p>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item">
        <strong>Which approaches have you performed more easily? Why?</strong><br>
        <ol>I used project patterns like MVC as an approach,
            because as I'm learning about Angular, applying the new features
            with the organization of components that Angular offers is very simple.
        </ol>
      </li>
      <li class="list-group-item">
        <strong>
          Where did you learn the most? Describe the process and what you learned
          </strong>
          <ol>I thought the teaching for Angular was more complex due to the fact that it involved several libs, but when using it, I noticed that it was very simple, and the NPM node libs help a lot</ol>
        </li>
      <li class="list-group-item">
        <strong>Identify opportunities for improvement in your project. How you would do differently
        if you were</strong>
        <ol>I left points for improvement in my project mentioned in the READ.ME in the repository, these are improvements to make the application more complete and secure.</ol>
      </li>
      <li class="list-group-item">
        <strong>What aspects of the project did you find most challenging and how did you overcome them?</strong>
        <ol>Understanding how Angular interprets the values that pass through, ngValue, binding, two-way binding, after understanding them the reactant is like in other technologies</ol>
      </li>
      <li class="list-group-item">
        <strong>How did you apply design standards in application development?</strong>
        <ol>MVC, clean code, clean architecture, the objects I created to deal with the business rules of this application made it easier to use</ol>
      </li>
      <li class="list-group-item">
        <strong>technologies have you used and why have you chosen them for this project?</strong>
        <ol>I also highlighted this information in READ.ME in the github repository, but the main ones were, Spring Boot, Angular, Bootstrap, H2 in-memory database frameworks</ol></li>
    </ol>
  </div>
</div>
