<div class="container home">
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <p class="text-center"><strong>application was developed for participate the Challenge Avanade, i'm is learning a
      develop with framework front-end Angular.</strong></p>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item">Which approaches have you performed more easily? Why?</li>
      <li class="list-group-item">Where did you learn the most? Describe the process and what you learned</li>
      <li class="list-group-item">Identify opportunities for improvement in your project. How you would do differently if you were</li>
      <li class="list-group-item">What aspects of the project did you find most challenging and how did you overcome them?</li>
      <li class="list-group-item">How did you apply design standards in application development?</li>
      <li class="list-group-item">What technologies have you used and why have you chosen them for this project?</li>
    </ol>
  </div>
</div>
